@import "chrome://wmsinspector/skin/wmsinspector.css";

#wiContent {
    height: 300px;
}

#wiTreeContainer{
    width: 400px;
}

#wiTreeImageContainer{
    /*background-color: #00ff00;*/
    width: 100%;
    height: 100%;
}

#wiImageContainer{
    overflow: auto;
    background-color: #FFFFFF;
}

richlistboxitem.libraryItem {
  -moz-binding: url("chrome://wmsinspector/content/library.xml#libraryItem");
}