
.wiImgLink{
    cursor: pointer;
}

.wiSmallIcon {
    margin-right: 3px
}

#wiCloseButton {
    list-style-image: url("chrome://wmsinspector/skin/icons/close.png");
}

#wiCloseButton:hover {
    list-style-image: url("chrome://wmsinspector/skin/icons/closeHover.png");
}

#wiCloseButton:hover:active {
    list-style-image: url("chrome://wmsinspector/skin/icons/closeActive.png");
}

.wiDetachButton{
    list-style-image: url("chrome://wmsinspector/skin/icons/detach.png");
}

.wiAttachButton{
    list-style-image: url("chrome://wmsinspector/skin/icons/attach.png");
}

#wiConfigButton {
    list-style-image: url("chrome://wmsinspector/skin/icons/config.png");
}

#wiConfigButton:hover {
    list-style-image: url("chrome://wmsinspector/skin/icons/configHover.png");
}

#wiRefreshButton {
    list-style-image: url("chrome://wmsinspector/skin/icons/refresh.png");
}

#wiCapabilitiesButton {
    list-style-image: url("chrome://wmsinspector/skin/icons/getcapabilities.png");
}

#wiLibraryButton {
    list-style-image: url("chrome://wmsinspector/skin/icons/library.png");
}

#wiLibraryAddButton {
    list-style-image: url("chrome://wmsinspector/skin/icons/library_add.png");
}

.wiHelper{
    font-style: italic
}

#wiIndexContent{
    font-family: "Georgia", "Garamond","Courier New";
    background-color: #FFEDB5;

    -moz-border-radius: 10px;
    -moz-box-shadow: 3px 3px 5px #888888;
    width: 70%;

    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;

}

#wiIndexImg{
    float:left;
    position: relative;
    margin-right: 5px;
    min-height: 150px;
}


#wiIndexHeader{
    border-bottom: 2px solid #999999;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
}

#wiIndexDescription{
    font-size: 0.8em;
    display: inline;
}

#wiLibraryDBError{
    margin: 30px;
}

#wiLibrarySearchFilter{
    width: 15em;
}

richlistboxitem {
    display: block;
    padding: 10px;
    border-bottom: 1px dotted #C0C0C0
}

richlistboxitem:hover {
    background-color: -moz-dialog;
    color: -moz-DialogText;
}

.wiLibraryTagsBox{
    display: block
}

.wiLibraryTag{
    cursor: pointer;
    border: 1px solid #C0C0C0;
    margin-top: 3px;
    padding: 2px 5px 2px 20px;
    -moz-border-radius: 5px;
    background: white url("chrome://wmsinspector/skin/icons/tag.png") 3px 3px no-repeat;
}

.wiLibraryServiceTitle{
    font-weight:bold
}

.wiLibraryServiceTypeLabel{
    font-style: italic
}

.wiLibraryNoServicesFound{
   font-style: italic;
   margin-top: 30px;
}
