.wiToolbar{
    height: 25px;
    display: -moz-box;
}

.toolbarbutton-iconic {
    width: 16px !important;
    height: 16px !important;
    margin: 0 4px 0 1px !important;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
}

.toolbarbutton-iconic > .toolbarbutton-icon {
    padding: 0;
}

.toolbarbutton-iconic > .toolbarbutton-text {
    display: none;
}

.wiImgLink{
    cursor: pointer;
}


#wiStatusBarImage{
    list-style-image: url("chrome://wmsinspector/skin/wmsinspector_logo_bar.png") !important;

}


#wiCloseButton {
    list-style-image: url("chrome://wmsinspector/skin/icons/close.png") !important;
}

#wiCloseButton:hover {
    list-style-image: url("chrome://wmsinspector/skin/icons/closeHover.png") !important;
}

#wiCloseButton:hover:active {
    list-style-image: url("chrome://wmsinspector/skin/icons/closeActive.png") !important;
}

#wiConfigButton {
    list-style-image: url("chrome://wmsinspector/skin/icons/config.png");
}

#wiConfigButton:hover {
    list-style-image: url("chrome://wmsinspector/skin/icons/configHover.png");
}

#wiRefreshButton {
    list-style-image: url("chrome://wmsinspector/skin/icons/refresh.png");
}

#wiCapabilitiesButton {
    list-style-image: url("chrome://wmsinspector/skin/icons/getcapabilities.png");
}

#wiLibraryButton {
    list-style-image: url("chrome://wmsinspector/skin/icons/library.png");
}

#wiMsg{
    font-weight: bold;
    color: #FF0000;
}

#wiIndexContent{
    font-family: "Georgia", "Garamond","Courier New";
    background-color: #FFEDB5;

    -moz-border-radius: 10px;
    -moz-box-shadow: 3px 3px 5px #888888;
    width: 70%;

    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;

}

#wiIndexImg{
    float:left;
    position: relative;
    margin-right: 5px;
    min-height: 150px;
}


#wiIndexHeader{
    border-bottom: 2px solid #999999;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
}

#wiIndexDescription{
    font-size: 0.8em;
    display: inline;
}

#wiLibraryDBError{
    margin: 30px;
}

richlistboxitem {
    padding: 10px;
    border-bottom: 1px dotted #C0C0C0
}

richlistboxitem:hover {
    background-color: -moz-dialog;
    color: -moz-DialogText;
}

.wiLibraryTag{
    cursor: pointer;
    border: 1px solid #C0C0C0;
    margin-top: 3px;
    padding: 2px 5px 2px 20px;
    -moz-border-radius: 5px;
    background: white url("chrome://wmsinspector/skin/icons/tag.png") 3px 3px no-repeat;
}

.wiLibraryServiceTitle{
    font-weight:bold
}

.wiLibraryServiceTypeLabel{
    font-style: italic
}

.wiLibraryNoServicesFound{
   font-style: italic;
   margin-top: 30px;
}